
@font-face {
    font-family: HG;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
  }

/*
- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)
*/
body{
    margin:0;
    font-family: HG;
    font-size: 18px;
}


.result-main {
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    height: 10%;
    border-radius: 0 0 2rem 2rem;
    color:white;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result-main .heading{
    font-size: 1.25rem;
    font-weight:700;
}

.result-main .score {
    aspect-ratio: 1/1;
    width: 40%;
    border-radius: 50%;

    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

}

.result-main .score .actual{
    font-size: 4.5rem;
    font-weight: 800;
}

.result-main .score .max{
    color: hsl(0, 0%, 75%);
}

.result-main .text{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

.result-main .text .heading {
    font-size:1.75rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.result-main .text .content{
    text-align: center;
    margin: 0 4rem 0 4rem;
    color: hsl(0, 0%, 85%);
    margin-bottom: 2rem;
}













.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

ul{
    list-style-type: none;
}