
@font-face {
    font-family: HG;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
  }

/*
- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)
*/
body{
    margin:0;
    font-family: HG;
    font-size: 18px;
}


.result-main {
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    height: 10%;
    border-radius: 0 0 2rem 2rem;
    color:white;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result-main .heading{
    font-size: 1.25rem;
    font-weight:700;
}

.result-main .score {
    aspect-ratio: 1/1;
    width: 40%;
    border-radius: 50%;

    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

}

.result-main .score .actual{
    font-size: 4.5rem;
    font-weight: 800;
}

.result-main .score .max{
    color: hsl(0, 0%, 75%);
}

.result-main .text{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

.result-main .text .heading {
    font-size:1.75rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.result-main .text .content{
    text-align: center;
    margin: 0 4rem 0 4rem;
    color: hsl(0, 0%, 85%);
    margin-bottom: 2rem;
}


.summary-main{
    margin: 2rem 2rem 0 2rem;
    font-weight: 700;
    display: flex;
    justify-items: center;
    flex-direction: column;
}
.summary-main .heading{
    font-weight:800;
    font-size: 1.25rem;
    
}

.summary-main .details{
    list-style-type: none;
    padding-left: 0;
}
img{
    width:1.5rem;
    height: 100%;
}
.summary-main .details .cat{
    position:relative;
    height:4rem;
    border-radius: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.summary-main .details .label{
    padding-left: 1rem;
}

.summary-main .details .score{
    position: absolute;
    right:2rem;
    color: black;
}
.summary-main .score .max{
    color: hsl(165, 30%, 60%);
}

#reaction{
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0,100%,67%);
}

#memory{
    background-color: hsla(39, 100%, 56%, 0.1);
    color:hsl(39, 100%, 56%);
}

#verbal{
    background-color: hsla(166, 100%, 37%, 0.1);
    color:hsl(166, 100%, 37%);
}

#visual{
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}

.continue{
    height:4rem;
    width: 100%;
    margin-right: 2rem;
    background-color: hsl(224, 30%, 27%);
    color:white;
    text-align: center;
    font-size:1.25rem;
    font-weight:500;
    border:none;
    border-radius: 2rem;
}

.continue:hover{
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    cursor: pointer;
}




.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }



    @media (min-width: 500px) {
        .container{
            margin-left: 25%;
            margin-top: 7%;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            justify-content: center;
            width:47rem;
            height:33rem;
            border-radius: 2rem;
            box-shadow: 2rem 2rem 5rem lightblue;
        }
        .result-main{
            width:55%;
            height: 100%;
            border-radius: 2rem;
        }
        .result-main .heading{
            font-size: 1.5rem;
        }
        

        .result-main .score{
            aspect-ratio: 1/1;
            margin-top: 4rem;
            width:60%;
            margin-top:5.5rem;
        }

        .result-main .score .actual{
            font-size: 5rem;
        }
        .result-main .text .heading{
            font-size: 2rem;
        }
        
        .summary-main{
            width:45%;
            margin-bottom: 5rem;
            margin-top: 5rem;
        }
        .summary-main .heading{
            font-size: 1.5rem;
        }
        .summary-main .details{
            margin-top: 2.25rem;
        }
        
       .align-head{
        position:absolute;
        top:2rem;
       }
    }